services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: coal-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: coal-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
